{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/">
    {{ cli_form.command.label }}
    {{ cli_form.binary()}} {{ cli_form.command()}}
    <br>
    {{ cli_form.name.label }}
    {{ cli_form.name()}}
    <br>
    {{ cli_form.tags.label }}
    {{ cli_form.tags()}}
    <br>
    {{ cli_form.docs.label }}
    {{ cli_form.docs()}}
    <br>

    <h1> Issues </h1>
    {% for issue in issue_forms %}
    <h1> No {{ loop.index }} </h1>
    {{ issue.severity.label }}
    <br> 
    {{ issue.severity() }}
    <br>

    <br> 
    {{ issue.regex.label }} 
    <br>    
    {{ issue.regex() }} 
    <br>
    {{ issue.details.label }} 
    <br>    
    {{ issue.details() }} 
    <br>
    <br>

    {% for item in range(0, issue.raise_issue_if | length) %}
    <h4>Raise issue if </h4>
    (use <b>_line</b> or regex group )
    {{ issue.target[item]}}
    is
    {{ issue.raise_issue_if[item] }} 
    {{ issue.assertion[item]}}
    <br>
    {% endfor %}

    <br>    <br>
    {% endfor %}
   
    <input type="submit" value="Submit">

</form>
{% endblock %}
