{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/">
    <h2> Custom variables </h2> 
    {% for var in var_forms  %}
    Add custom variable named 
    {{ var.name()}}
    of type 
    {{ var.type()}}
    <br>
    {{ var.default.label}}
    {{ var.default()}} or use comma separated list for enum dropdown
    {{ var.enum()}}
    secret {{ var.secret()}}
    <br>
    {{ var.description.label}}
    {{ var.description()}}
    <hr>
    {% endfor %}
    <h2> Run CLI </h2> 
    {{ cli_form.command.label }}
    {{ cli_form.command()}}
    <br>
    {{ cli_form.name.label }}
    {{ cli_form.name()}}
    <br>
    {{ cli_form.tags.label }}
    {{ cli_form.tags()}}
    <br>
    {{ cli_form.docs.label }}
    {{ cli_form.docs()}}
    <br>
    <h2> Issues </h2>
    <hr>

    {% for issue in issue_forms %}
    {{ issue.severity.label }}
    <br> 
    {{ issue.severity() }}
    <br>
    <br> 
    {{ issue.regex.label }} 
    <br>    
    {{ issue.regex() }} 
    <br>
    {{ issue.details.label }} 
    <br>    
    {{ issue.details() }} 
    <br>
    <br>

    {% for item in range(0, issue.raise_issue_if | length) %}
    <p>Raise issue if 
    (use <b>_line</b> or regex group )
    {{ issue.target[item]}}
    is
    {{ issue.raise_issue_if[item] }} 
    {{ issue.assertion[item]}}
    </p>
    <br>
    {% endfor %}

    <br> 
    <hr>

    {% endfor %}
   
    <input type="submit" value="Submit">

</form>
{% endblock %}
